<!-- /templates/product.liquid -->

<div itemscope itemtype="http://schema.org/Product">

  <meta itemprop="url" content="{{ shop.url }}{{ product.url }}">
  <meta itemprop="image" content="{{ product.featured_image.src | img_url: 'grande' }}">

  {% assign current_variant = product.selected_or_first_available_variant %}

  <div class="grid product-single">
    <div class="grid__item large--four-twelfths medium--four-twelfths text-center" style="margin-top: 40px">
      <div class="product-single__photos">
        {% assign featured_image = current_variant.featured_image | default: product.featured_image %}

        {% comment %}
          Display current variant image, or default first
        {% endcomment %}
        <div class="product-single__photo-wrapper">
          <img class="product-single__photo" id="ProductPhotoImg" src="{{ featured_image | img_url: 'large' }}" srcset="{{ featured_image | img_url: '1024x1024' }} 2x" {% if settings.product_zoom_enable %}data-mfp-src="{{ featured_image | img_url: 'master' }}"{% endif %} alt="{{ featured_image.alt | escape }}">
        </div>

         {% comment %}
          Display rest of product images, not repeating the featured one
        {% endcomment %}
        {% for image in product.images %}
          {% unless image contains featured_image %}
        	{% if product.images.size > 3 %}
            	<div class="grid__item product-single__photo-wrapper large--one-quarter medium--one-half text-center">
              		<img class="product-single__photo" src="{{ image.src | img_url: 'medium' }}" srcset="{{ image.src | img_url: 'grande' }} 2x" {% if settings.product_zoom_enable %}data-mfp-src="{{ image.src | img_url: 'master' }}"{% endif %} alt="{{ image.alt | escape }}">
            	</div>
        	{% elsif product.images.size == 2 %}
        		<div class="product-single__photo-wrapper">
          			<img class="product-single__photo" src="{{ image.src | img_url: 'large' }}" srcset="{{ image.src | img_url: '1024x1024' }} 2x" {% if settings.product_zoom_enable %}data-mfp-src="{{ image.src | img_url: 'master' }}"{% endif %} alt="{{ image.alt | escape }}">
        		</div>        
        	{% else %}
            	<div class="grid__item product-single__photo-wrapper large--one-half medium--one-half text-center">
              		<img class="product-single__photo" src="{{ image.src | img_url: 'large' }}" srcset="{{ image.src | img_url: '1024x1024' }} 2x" {% if settings.product_zoom_enable %}data-mfp-src="{{ image.src | img_url: 'master' }}"{% endif %} alt="{{ image.alt | escape }}">
            	</div>
        	{% endif %}
          {% endunless %}
        {% endfor %}
      </div>
    </div>

    <div class="grid__item product-single__meta--wrapper medium--eight-twelfths large--eight-twelfths">
      <div class="product-single__meta">
        {% if settings.product_vendor_enable %}
          <h2 class="product-single__vendor" itemprop="brand">{{ product.vendor }}</h2>
        {% endif %}

        <h1 class="product-single__title" itemprop="name">{{ product.title }}</h1>

        <div itemprop="offers" itemscope itemtype="http://schema.org/Offer">
          {% comment %}
            Optionally show the 'compare at' or original price of the product.
          {% endcomment %}

          {% if product.compare_at_price > product.price %}
            <span id="ComparePrice" class="product-single__price--compare-at">
              {{ product.compare_at_price | money }}
            </span>
          {% endif %}

          <span id="ProductPrice" class="product-single__price{% if product.compare_at_price > product.price %} on-sale{% endif %}" itemprop="price">
            {{ current_variant.price | money }}
          </span>

          <hr class="hr--small">

          <meta itemprop="priceCurrency" content="{{ shop.currency }}">
          <link itemprop="availability" href="http://schema.org/{% if product.available %}InStock{% else %}OutOfStock{% endif %}">

          <form action="/cart/add" method="post" enctype="multipart/form-data" class="product-single__form" id="AddToCartForm">
            <select name="id" id="ProductSelect" class="product-single__variants">
              {% for variant in product.variants %}
                {% if variant.available %}
                  <option {% if variant == product.selected_or_first_available_variant %} selected="selected" {% endif %} value="{{ variant.id }}">{{ variant.title }} - {{ variant.price | money_with_currency }}</option>
                {% else %}
                  <option disabled="disabled">
                    {{ variant.title }} - {{ 'products.product.sold_out' | t }}
                  </option>
                {% endif %}
              {% endfor %}
            </select>

            {% comment %}
            <div class="product-single__quantity">
              <label for="Quantity" class="product-single__quantity-label js-quantity-selector">{{ 'products.product.quantity' | t }}</label>
              <input type="number" hidden="hidden" id="Quantity" name="quantity" value="1" min="1" class="js-quantity-selector">
            </div>
            {% endcomment %}
			
			{% if variant.available %}
            <div class="product-single__add-to-cart">
              <button type="submit" name="add" id="AddToCart" class="btn">
                <span id="AddToCartText">{{ 'products.product.add_to_cart' | t }}</span>
              </button>
            </div>
			{% else %}
            <div class="product-single__add-to-cart">
              <button type="submit" name="add" id="AddToCart" class="btn">
                <span id="AddToCartText">Coming Soon</span>
              </button>
            </div>
			{% endif %}
			
			
          </form>

        </div>

       
      </div>
      </div>
  </div>
  
 
      <div class="description grid__item large--four-fifths push--large--one-tenth" style="padding-left: 0px; margin-top:30px;">
        <div class="rte rte--nomargin">
{{ product.description }}
        </div>
      </div>
          



  {% if collection %}
    <hr class="hr--clear">
    <div class="text-center">
      <a href="{{ collection.url }}" class="return-link">&larr; {{ 'products.general.collection_return' | t: collection: collection.title }}</a>
    </div>
  {% endif %}

</div>

{% comment %}

  *IMPORTANT:*
  This theme uses a customized version of `option_selection.js` to support using radio inputs for
  color and size variants. The custom version is in `variant_selection.js`.

  If you wish to enable the default dropdowns for size and color
  you can change the liquid asset tag below from:

  {{ 'variant_selection.js' | asset_url | script_tag }}

  to

  {{ 'option_selection.js' | shopify_asset_url | script_tag }}

  If you use the default `option_selection.js` the labels for the dropdowns will
  appear outside the dropdown.

  You will also need to change `.radio-wrapper` to `.selector-wrapper` below.

{% endcomment %}
{{ 'variant_selection.js' | asset_url | script_tag }}
<script>
  var selectCallback = function(variant, selector) {
    timber.productPage({
      money_format: "{{ shop.money_format }}",
      variant: variant,
      selector: selector
    });
  };

  jQuery(function($) {
    new Shopify.OptionSelectors('ProductSelect', {
      product: {{ product | json }},
      onVariantSelected: selectCallback,
      enableHistoryState: true
    });

    // Add label if only one product option and it isn't 'Title'. Could be 'Size'.
    {% if product.options.size == 1 and product.options.first != 'Title' %}
      $('.radio-wrapper:eq(0)').prepend('<label for="ProductSelect-option-0" class="single-option-radio__label">{{ product.options.first | escape }}</label>');
    {% endif %}
  });
</script>
